<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Contact Form</title>
  <style>
    .form-container {
      position: relative;
    }
    .form-image {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 150px;
      height: auto;
    }
  </style>
</head>
<body>
  <div class="container">
    <h3 style="color: purple;">Contact Our</h3>
    <h3>Customer Support Center</h3>
    <div>
      <h5>Contact Information</h5>
      <p>Please fill out your contact information below</p>
    </div>
    
    <div class="form-container">
      <form>
        <div class="row">
          <div class="col-md-3">
            <label for="firstName" class="form-label">Name *</label>
            <input type="text" class="form-control" id="firstName">
            <div class="form-text">First Name</div>
          </div>

          <div class="col-md-3">
            <label for="lastName" class="form-label"></label>
            <input type="text" class="form-control" id="lastName">
            <div class="form-text">Last Name</div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label for="email" class="form-label">Email address *</label>
            <input type="email" class="form-control" id="email">
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label for="phone" class="form-label">Phone *</label>
            <input type="text" class="form-control" id="phone">
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label for="address" class="form-label">Address *</label>
            <input type="text" class="form-control" id="address">
          </div>
        </div>

        <div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      
      <!-- <img src="/assests/laptop.png" alt="Contact Us" class="form-image"> -->
    </div>
  </div>
</body>
</html>
